.footer {
  background-color: #0F0D0D;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed; /*matthew changed to fixed so it stays on the page */
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-link {
  color: #61dafb;
  margin: 0 10px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-text {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    column-count: 2
  }

  .footer-link {
    width: 40%;
  }
}