.footer {
    background-color: #0c0a09;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-link {
    color: #61dafb;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    font-size: 14px;
  }