html {
  background-color: #1c1c1c;
}

svg.tommy .node.male>rect {
  fill: #039be5;
}

svg.tommy .node {
  font-family: 'Times New Roman', Times, serif;
}

svg.tommy .node.female>rect {
  fill: #ff8bc5;
}  