button {
    background-color: #4CAF50; 
    color: white;             
    padding: 10px 20px;        
    border: none;             
    border-radius: 5px;        
    font-size: 16px;           
    cursor: pointer;           
    transition: background-color 0.3s ease; /
}

button:hover {
    background-color: #45a049; 
}

button:focus {
    outline: none;             
}
body {
    background-color: #1b1b1b ;
}