* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    left:0;
    right:0;
    margin:auto;
    height: calc(100vh - 7rem);
    min-width: 375px;
}

body {
    background-color: #0F0D0D; /*mattew changed from 2e2e2e to match background of tree */
    color: white;
    text-align:center;
}

svg.tommy .node.male>rect {
    fill: #1e3a8a;

}
svg.tommy .node.female>rect {
    fill: #86198f;
}

#tree {
    height: calc(100vh - 12rem); /*matthew made this adjustment so the save button and mini map are always above the footer */
}
#tree>svg {
    /* background-color: #2E2E2E; */ /*matthew commented this out; it seemed not to be doing anything*/
    background-image: url("../../assets/optree.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat:no-repeat; 
}



#base_tree_menu path, #base_tree_menu ellipse {
    fill: #0ea5e9;
}

.bft-edit-form-fields {
    background-color:#0F0D0D; /*matthew added */
}

#tree > form.female > div:nth-child(1) > div.bft-edit-form-header {
    background-color:#86198f; /* matthew added */
}

#tree > form.male > div:nth-child(1) > div.bft-edit-form-header {
    background-color:#1e3a8a; /* matthew added */
}

div.bft-dark .bft-input>input{
    border-color: #1e3a8a ;
}

div.bft-dark .bft-input>input:focus {
    border-color: #065f46;
}